<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="safeRowBoundsEnabled" value="false" />
		<setting name="defaultStatementTimeout" value="25000" />
		<setting name="jdbcTypeForNull" value="OTHER"/>
	</settings>

	<plugins>
		<plugin
			interceptor="com.openjava.mybatis.plugin.pager.PagerHandlerInterceptor">
			<property name="dialect" value="MYSQL" />
		</plugin>
	</plugins>
	<mappers>
		<package name="net.suntec.oauthsrv.dao" />
		<!--
			<mapper resource="com/openjava/platform/base/dao/FndAttachmentsMapper.xml" />
			<package name="com.openjava.platform.base.dao" /> <mapper
			resource="config/epms/mybatis/resource/plan/mybatis-config-plan-header.xml"/>
			<mapper
			resource="config/epms/mybatis/resource/plan/mybatis-config-plan-line.xml"/>
		-->
	</mappers>
</configuration>