<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<context:component-scan base-package="net.suntec.oauth.check.oauth1"
		use-default-filters="false">
		<context:include-filter type="assignable"
			expression="net.suntec.oauth.check.CheckToken" />
	</context:component-scan>
	<context:component-scan base-package="net.suntec.oauth.check.oauth2"
		use-default-filters="false">
		<context:include-filter type="assignable"
			expression="net.suntec.oauth.check.CheckToken" />
	</context:component-scan>
 
	<bean id="checkTokenFactory"
		class="org.springframework.beans.factory.config.ServiceLocatorFactoryBean">
		<property name="serviceLocatorInterface" value="net.suntec.oauth.check.CheckTokenFactory" />
		<property name="serviceMappings">
			<props>
				<prop key="twitter">twitterCheckToken</prop>
				<prop key="facebook">facebookCheckToken</prop>
				<prop key="instagram">instagramCheckToken</prop>
				<prop key="flickr">flickrCheckToken</prop>
				<prop key="500px">px500CheckToken</prop>
				<prop key="feedly">feedlyCheckToken</prop>
				<prop key="pocket">pocketCheckToken</prop>
				<prop key="soundcloud">soundcloudCheckToken</prop>
				<prop key="weibo">weiboCheckToken</prop>
			</props>
		</property>
	</bean>
</beans>