<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.suntec.oauthsrv.dao.AppBaseMapper">

	<parameterMap id="BaseParameterMap" type="net.suntec.oauthsrv.dto.AppBase">
		<parameter property="appType" jdbcType="VARCHAR" javaType="String" />
		<parameter property="appName" jdbcType="VARCHAR" javaType="String" />
		<parameter property="clazzName" jdbcType="VARCHAR" javaType="String" />
		<parameter property="scope" jdbcType="VARCHAR" javaType="String" />
		<parameter property="oauthVersion" jdbcType="INTEGER"
			javaType="Integer" />
		<parameter property="requestUserInfo" jdbcType="INTEGER"
			javaType="Integer" />
		<parameter property="description" jdbcType="VARCHAR"
			javaType="String" />
		<parameter property="expiredTime" jdbcType="INTEGER"
			javaType="Integer" />
	</parameterMap>

	<resultMap id="BaseResultMap" type="net.suntec.oauthsrv.dto.AppBase">
		<id column="app_type" property="appType" jdbcType="VARCHAR" />
		<result column="app_name" property="appName" jdbcType="VARCHAR" />
		<result column="clazz_name" property="clazzName" jdbcType="VARCHAR" />
		<result column="scope" property="scope" jdbcType="VARCHAR" />
		<result column="oauth_version" property="oauthVersion"
			jdbcType="INTEGER" />
		<result column="expired_time" property="expiredTime"
			jdbcType="INTEGER" />	
		<result column="request_user_info" property="requestUserInfo"
			jdbcType="INTEGER" />
		<result column="description" property="description"
			jdbcType="VARCHAR" />
		<result column="creation_date" property="creationDate"
			jdbcType="VARCHAR" />
		<result column="access_token" property="accessToken" jdbcType="VARCHAR" />
	    <result column="refresh_token" property="refreshToken" jdbcType="VARCHAR" />
	    <result column="api_uid" property="apiUid" jdbcType="VARCHAR" />
	</resultMap>


	<sql id="Base_Column_List">
		app_type,
		app_name,
		clazz_name,
		scope,
		oauth_version,
		request_user_info,
		description,
		expired_time
	</sql>
	
	<sql id="Select_Column_List">
		ab.app_type,
		ab.app_name,
		ab.clazz_name,
		ab.scope,
		ab.oauth_version,
		ab.request_user_info,
		ab.description,
		ab.expired_time
	</sql>
	<!--
		<sql id="Where_Clause"> <trim prefix="WHERE" prefixOverrides="and">
		<if test="appType != null and appType != ''">and app_type LIKE
		#{appType}</if> <if test="clazzName != null and clazzName != ''">and
		clazz_name LIKE #{clazzName}</if> <if test="scope != null and scope !=
		''">and scope LIKE #{scope}</if> <if test="oauthVersion != null">and
		oauth_version = #{oauthVersion}</if> <if test="requestUserInfo !=
		null">and request_user_info = #{requestUserInfo}</if> </trim> </sql>
	-->

	<sql id="Where_Clause">
		<trim prefix="WHERE" prefixOverrides="and">
			<if test="appType != null and appType != ''"><![CDATA[and app_type LIKE CONCAT( '%' , #{appType} , '%' )]]></if>
			<if test="clazzName != null and clazzName != ''"><![CDATA[and clazz_name LIKE CONCAT( '%' , #{clazzName} , '%' )]]></if>
			<if test="scope != null and scope != ''"><![CDATA[and scope LIKE CONCAT( '%' , #{scope} , '%' )]]></if>
			<if test="oauthVersion != null">and oauth_version = #{oauthVersion}</if>
			<if test="requestUserInfo != null">and request_user_info = #{requestUserInfo}</if>
		</trim>
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from APP_BASE
		where app_type = #{appType,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		APP_BASE
		where app_type = #{appType,jdbcType=VARCHAR}
    </delete>

	<insert id="insert" parameterType="net.suntec.oauthsrv.dto.AppBase">
		insert into APP_BASE (
		<include refid="Base_Column_List" />
		)
		values (
		#{appType,jdbcType=VARCHAR},
		#{appName,jdbcType=VARCHAR},
		#{clazzName,jdbcType=VARCHAR},
		#{scope,jdbcType=VARCHAR},
		#{oauthVersion,jdbcType=INTEGER},
		#{requestUserInfo,jdbcType=INTEGER},
		#{description,jdbcType=VARCHAR},
		#{expiredTime,jdbcType=INTEGER},
		)
	</insert>

	<update id="updateByPrimaryKey" parameterType="net.suntec.oauthsrv.dto.AppBase">
		update APP_BASE
		set
		clazz_name = #{clazzName,jdbcType=VARCHAR},
		app_name = #{appName,jdbcType=VARCHAR},
		scope =
		#{scope,jdbcType=VARCHAR},
		oauth_version =
		#{oauthVersion,jdbcType=INTEGER},
		request_user_info =
		#{requestUserInfo,jdbcType=INTEGER},
		description=#{description,jdbcType=VARCHAR},
		expired_time =
		#{expiredTime,jdbcType=INTEGER}
		where app_type =
		#{appType,jdbcType=VARCHAR} 
    </update>

	<select id="select" resultMap="BaseResultMap" parameterType="net.suntec.oauthsrv.dto.AppBase">
		select
		<include refid="Base_Column_List" />
		from APP_BASE
		<include refid="Where_Clause" />
	</select>

	<select id="count" resultType="java.lang.Integer" parameterType="net.suntec.oauthsrv.dto.AppBase">
		select
		count(1)
		from APP_BASE
		<include refid="Where_Clause" />
	</select>
	
	<select id="listBindApp" resultMap="BaseResultMap" parameterType="net.suntec.oauthsrv.dto.AppBase">
		select
		<include refid="Select_Column_List" />
		, 
		aim.access_token , 
		aim.refresh_token , 
		aim.api_uid,
		aim.creation_date
		from APP_BASE ab left join APP_IAUTO_MAP aim on ab.app_type=aim.app_type and aim.iauto_user_id = #{iautoUserId,jdbcType=VARCHAR}
		where ab.need_oauth = true 
		order by app_type asc;
	</select>
</mapper>
