<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.suntec.oauthsrv.dao.AppInfoMapper">

	<parameterMap id="BaseParameterMap" type="net.suntec.oauthsrv.dto.AppInfo">
		<parameter property="appId" jdbcType="INTEGER" javaType="Integer" />
		<parameter property="appType" jdbcType="VARCHAR" javaType="String" />
		<parameter property="appClientid" jdbcType="VARCHAR"
			javaType="String" />
		<parameter property="appSecret" jdbcType="VARCHAR" javaType="String" />
		<parameter property="sortNo" jdbcType="INTEGER" javaType="Integer" />
	</parameterMap>

	<resultMap id="BaseResultMap" type="net.suntec.oauthsrv.dto.AppInfo">
		<id column="app_id" property="appId" jdbcType="INTEGER" />
		<result column="app_type" property="appType" jdbcType="VARCHAR" />
		<result column="app_clientid" property="appClientid" jdbcType="VARCHAR" />
		<result column="app_secret" property="appSecret" jdbcType="VARCHAR" />
		<result column="sort_no" property="sortNo" jdbcType="INTEGER" />
		<!--
			<result column="is_bind" property="isBind" jdbcType="BOOLEAN" />
		-->
	</resultMap>


	<sql id="Select_Column_List">
		ai.app_id,
		ai.app_type,
		ai.app_clientid,
		ai.app_secret,
		ai.sort_no
	</sql>

	<sql id="Base_Column_List">
		app_id,
		app_type,
		app_clientid,
		app_secret,
		sort_no
	</sql>
	<!--
		<sql id="Where_Clause"> <trim prefix="WHERE" prefixOverrides="and">
		<if test="appId != null">and app_id = #{appId}</if> <if test="appType
		!= null and appType != ''">and app_type LIKE #{appType}</if> <if
		test="deviceType != null and deviceType != ''">and device_type LIKE
		#{deviceType}</if> <if test="appClientid != null and appClientid !=
		''">and app_clientid LIKE #{appClientid}</if> <if test="appSecret !=
		null and appSecret != ''">and app_secret LIKE #{appSecret}</if> <if
		test="callbackUrl != null and callbackUrl != ''">and callback_url LIKE
		#{callbackUrl}</if> <if test="version != null and version != ''">and
		version LIKE #{version}</if> </trim> </sql>
	-->

	<sql id="Where_Clause">
		<trim prefix="WHERE" prefixOverrides="and">
			<if test="appId != null">and app_id = #{appId}</if>
			<if test="appType != null and appType != ''"><![CDATA[and app_type LIKE CONCAT( '%' , #{appType} , '%' )]]></if>
			<if test="appClientid != null and appClientid != ''"><![CDATA[and app_clientid LIKE CONCAT( '%' , #{appClientid} , '%' )]]></if>
			<if test="appSecret != null and appSecret != ''"><![CDATA[and app_secret LIKE CONCAT( '%' , #{appSecret} , '%' )]]></if>
			<if test="sortNo != null and sortNo != ''"><![CDATA[and sort_no LIKE CONCAT( '%' , #{sortNo} , '%' )]]></if>
		</trim>
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Select_Column_List" />
		from APP_INFO ai
		where app_id = #{appId,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		APP_INFO
		where app_id = #{appId,jdbcType=VARCHAR}
    </delete>

	<insert id="insert" parameterType="net.suntec.oauthsrv.dto.AppInfo">
		insert into APP_INFO (
		<include refid="Base_Column_List" />
		)
		values (
		#{appId,jdbcType=INTEGER},
		#{appType,jdbcType=VARCHAR},
		#{appClientid,jdbcType=VARCHAR},
		#{appSecret,jdbcType=VARCHAR},
		#{sortNo,jdbcType=INTEGER}
		)
	</insert>

	<update id="updateByPrimaryKey" parameterType="net.suntec.oauthsrv.dto.AppInfo">
		update APP_INFO
		set
		app_type = #{appType,jdbcType=VARCHAR},
		app_clientid =
		#{appClientid,jdbcType=VARCHAR},
		app_secret =
		#{appSecret,jdbcType=VARCHAR},
		sort_no =
		#{sortNo,jdbcType=INTEGER}
		where app_id = #{appId,jdbcType=INTEGER} 
    </update>

	<select id="select" resultMap="BaseResultMap" parameterType="net.suntec.oauthsrv.dto.AppInfo">
		select
		<include refid="Select_Column_List" />
		from APP_INFO ai
		<include refid="Where_Clause" />
	</select>

	<select id="count" resultType="java.lang.Integer" parameterType="net.suntec.oauthsrv.dto.AppInfo">
		select
		count(1)
		from APP_INFO
		<include refid="Where_Clause" />
	</select>

	<select id="selectClientId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Select_Column_List" />
		, (select count(*) from app_iauto_map aim where aim.app_type =
		ai.app_type and aim.client_id = ai.app_clientid) ct from app_info ai
		where ai.app_type = #{appType,jdbcType=VARCHAR}
		order by ct asc limit 1
	</select>


</mapper>
