<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.suntec.oauthsrv.dao.AuthHistoryMapper">

	<parameterMap id="BaseParameterMap" type="net.suntec.oauthsrv.dto.AuthHistory">
		<parameter property="iautoUserId" jdbcType="VARCHAR"
			javaType="String" />
		<parameter property="appType" jdbcType="VARCHAR" javaType="String" />
		<parameter property="action" jdbcType="INTEGER" javaType="Integer" />
		<parameter property="creationDate" jdbcType="VARCHAR"
			javaType="String" />
	</parameterMap>

	<resultMap id="BaseResultMap" type="net.suntec.oauthsrv.dto.AuthHistory">
		<result column="iauto_user_id" property="iautoUserId" jdbcType="VARCHAR" />
		<result column="app_type" property="appType" jdbcType="VARCHAR" />
		<result column="action" property="action" jdbcType="INTEGER" />
		<result column="creation_date" property="creationDate"
			jdbcType="VARCHAR" />
	</resultMap>


	<sql id="Base_Column_List">
		iauto_user_id,
		app_type,
		action,
		creation_date
	</sql>
	<!--
		<sql id="Where_Clause"> <trim prefix="WHERE" prefixOverrides="and">
		<if test="iautoUserId != null and iautoUserId != ''">and iauto_user_id
		LIKE #{iautoUserId}</if> <if test="appType != null and appType !=
		''">and app_type LIKE #{appType}</if> <if test="action != null and
		action != ''">and action LIKE #{action}</if> <if test="creationDate !=
		null and creationDate != ''">and creation_date LIKE
		#{creationDate}</if> </trim> </sql>
	-->

	<sql id="Where_Clause">
		<trim prefix="WHERE" prefixOverrides="and">
			<if test="iautoUserId != null and iautoUserId != ''"><![CDATA[and iauto_user_id LIKE CONCAT( '%' , #{iautoUserId} , '%' )]]></if>
			<if test="appType != null and appType != ''"><![CDATA[and app_type LIKE CONCAT( '%' , #{appType} , '%' )]]></if>
			<if test="action != null and action != ''"><![CDATA[and action LIKE CONCAT( '%' , #{action} , '%' )]]></if>
			<if test="creationDate != null and creationDate != ''"><![CDATA[and creation_date LIKE CONCAT( '%' , #{creationDate} , '%' )]]></if>
		</trim>
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from AUTH_HISTORY
		where app_type = #{appType,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		AUTH_HISTORY
		where app_type = #{appType,jdbcType=VARCHAR}
    </delete>

	<insert id="insert" parameterType="net.suntec.oauthsrv.dto.AuthHistory">
		insert into AUTH_HISTORY (
		<include refid="Base_Column_List" />
		)
		values (
		#{iautoUserId,jdbcType=VARCHAR},
		#{appType,jdbcType=VARCHAR},
		#{action,jdbcType=VARCHAR},
		date_trunc('second', now())
		)
	</insert>

	<update id="updateByPrimaryKey" parameterType="net.suntec.oauthsrv.dto.AuthHistory">
		update
		AUTH_HISTORY
		set
		app_type = #{appType,jdbcType=VARCHAR},
		action =
		#{action,jdbcType=VARCHAR},
		creation_date =
		#{creationDate,jdbcType=VARCHAR}
		where app_type =
		#{appType,jdbcType=VARCHAR} 
    </update>

	<select id="select" resultMap="BaseResultMap"
		parameterType="net.suntec.oauthsrv.dto.AuthHistory">
		select
		<include refid="Base_Column_List" />
		from AUTH_HISTORY
		<include refid="Where_Clause" />
	</select>

	<select id="selectLastestTime" resultMap="BaseResultMap"
		parameterType="net.suntec.oauthsrv.dto.AuthHistory">
		select
		<include refid="Base_Column_List" />
		from AUTH_HISTORY
		where iauto_user_id = #{iautoUserId,jdbcType=VARCHAR}
		order by creation_date desc;
	</select>

	<select id="count" resultType="java.lang.Integer"
		parameterType="net.suntec.oauthsrv.dto.AuthHistory">
		select
		count(1)
		from AUTH_HISTORY
		<include refid="Where_Clause" />
	</select>
</mapper>
