<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="net.suntec.oauthsrv.dao" />
	</bean>
<!-- 
	<bean id="homeService" class="com.openjava.platform.base.service.impl.HomeServiceImpl">
		<property name="fndResourceMapper">
			<ref bean="fndResourceMapper" />
		</property>
	</bean>
	 -->
</beans>